<div class="voivodeship_wrapper">
<h1> Województwa </h1>


<% if current_user.role.name == "admin" %>

<button class="button">
<%= link_to 'Dodaj województwo', new_voivodeship_path %> </button> 
<br><br>
<% end %>

</div>
<% @voivodeships.each do |voivodeship| %>
		<div class="voivodeship_wrapper">
			
     	<h2 class="name">    <div>
         	<% unless  voivodeship.image.blank? %>
			    <%= image_tag voivodeship.image.url(:thumb) %> 
			  <% end %>
		 <%= link_to voivodeship.name, voivodeship %>
		</div></h2>

		</div>
<% end %>

<br>

