<div id="page_wrapper">
<h1 class="name">
	<%= @voivodeship.name %>
</h1>

<p class="date">
	(Submitted <%= time_ago_in_words(@voivodeship.created_at) %> Ago)
	<%= link_to 'Edit', edit_voivodeship_path(@voivodeship) %>
	<%= link_to 'Delete', voivodeship_path(@voivodeship), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

</div>