<div class="voivodeship_wrapper">
<h1> Komitety wyborcze: </h1>
<% if current_user.role.name == "admin" %>

<button class="button"><%= link_to 'Dodaj komitet', new_commitee_path %> </button><br><br>
<% end %>
</div>
<% @commitees.each do |commitee| %>
		<div class="voivodeship_wrapper">
			
     	<h2 class="name">    <div>
         	<% unless  commitee.image.blank? %>
			    <%= image_tag commitee.image.url(:thumb) %> 
			  <% end %>
		 <%= link_to commitee.name, commitee %>
		</div></h2>

		</div>
<% end %>

<br>


