<% @commitees.each do |commitee| %>
		<div class="voivodeship_wrapper">
			
         <div>
         	<% unless  commitee.image.blank? %>
			    <%= image_tag commitee.image.url(:thumb) %> 
			  <% end %>
			<h2 class="name"> <%= link_to commitee.name, commitee %></h2>
		</div>
		</div>
<% end %>

