	<div class="voivodeship_wrapper">
<h1> Komitety: </h1>
		</div>
<% @commitees.each do |commitee| %>
		<div class="voivodeship_wrapper">
			
     	<h2 class="name">    <div>
         	<% unless  commitee.image.blank? %>
			    <%= image_tag commitee.image.url(:thumb) %> 
			  <% end %>
		 <%= link_to commitee.name, commitee %>
		</div></h2>

		</div>
<% end %>

<br>

<div id="page_wrapper">
<button class="button"><%= link_to 'New Committee', new_commitee_path %> </button>
</div>

