<div id="page_wrapper">

<p>
  <strong>Ilość głosów:</strong>
 
   <%= @vote.number %>
 <br> <br>
 <strong>Okręg wyborczy:</strong>

 <%= @vote.area.name %>

 <br> <br>
 <strong>Komitet wyborczy:</strong>

  <%= @vote.commitee.name %>

</p>
<br>
<%= link_to 'Edytuj', edit_vote_path(@vote), class: "button" %> 

</div>